In [8]:
!pip install --upgrade --user pandas pyarrow s3fs boto3 "dask[complete]"

Looking in indexes: https://salt_readonly:****@boomtrain.jfrog.io/boomtrain/api/pypi/pypi/simple
Requirement already up-to-date: pandas in /var/www/.local/lib/python3.6/site-packages (1.1.5)
Requirement already up-to-date: pyarrow in /var/www/.local/lib/python3.6/site-packages (5.0.0)
Requirement already up-to-date: s3fs in /var/www/.local/lib/python3.6/site-packages (2021.8.1)
Collecting boto3
  Downloading https://boomtrain.jfrog.io/boomtrain/api/pypi/pypi/packages/packages/6c/04/0d41f49539ae3a2f4f9037e522a8be01373d7c8cc116c14f2ee516981fb2/boto3-1.18.40-py3-none-any.whl (131 kB)
     |████████████████████████████████| 131 kB 72.9 MB/s eta 0:00:01
Requirement already satisfied, skipping upgrade: python-dateutil>=2.7.3 in /usr/local/lib/python3.6/dist-packages (from pandas) (2.8.1)
Requirement already satisfied, skipping upgrade: pytz>=2017.2 in /usr/local/lib/python3.6/dist-packages (from pandas) (2020.1)
Requirement already satisfied, skipping upgrade: numpy>=1.15.4 in /usr/local/lib/python3.6/dist-packages (from pandas) (1.18.5)
Requirement already satisfied, skipping upgrade: aiobotocore~=1.4.0 in /var/www/.local/lib/python3.6/site-packages (from s3fs) (1.4.1)
Requirement already satisfied, skipping upgrade: fsspec==2021.08.1 in /var/www/.local/lib/python3.6/site-packages (from s3fs) (2021.8.1)
Collecting botocore<1.22.0,>=1.21.40
  Downloading https://boomtrain.jfrog.io/boomtrain/api/pypi/pypi/packages/packages/34/6a/274964d09b66a14cd7eeff46dbc24e506e81a1299a5dd3ca0a0816e5b253/botocore-1.21.40-py3-none-any.whl (7.9 MB)
     |████████████████████████████████| 7.9 MB 72.7 MB/s eta 0:00:01
Collecting s3transfer<0.6.0,>=0.5.0
  Downloading https://boomtrain.jfrog.io/boomtrain/api/pypi/pypi/packages/packages/ab/84/fc3717a7b7f0f6bb08af593127171f08e3e0087c197922da09c01bfe7c3a/s3transfer-0.5.0-py3-none-any.whl (79 kB)
     |████████████████████████████████| 79 kB 7.7 MB/s  eta 0:00:01
Requirement already satisfied, skipping upgrade: jmespath<1.0.0,>=0.7.1 in /usr/local/lib/python3.6/dist-packages (from boto3) (0.10.0)
Requirement already satisfied, skipping upgrade: six>=1.5 in /usr/local/lib/python3.6/dist-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)
Requirement already satisfied, skipping upgrade: aiohttp>=3.3.1 in /var/www/.local/lib/python3.6/site-packages (from aiobotocore~=1.4.0->s3fs) (3.7.4.post0)
Requirement already satisfied, skipping upgrade: aioitertools>=0.5.1 in /var/www/.local/lib/python3.6/site-packages (from aiobotocore~=1.4.0->s3fs) (0.8.0)
Requirement already satisfied, skipping upgrade: wrapt>=1.10.10 in /usr/local/lib/python3.6/dist-packages (from aiobotocore~=1.4.0->s3fs) (1.10.11)
Requirement already satisfied, skipping upgrade: urllib3<1.27,>=1.25.4 in /usr/local/lib/python3.6/dist-packages (from botocore<1.22.0,>=1.21.40->boto3) (1.25.9)
Requirement already satisfied, skipping upgrade: multidict<7.0,>=4.5 in /var/www/.local/lib/python3.6/site-packages (from aiohttp>=3.3.1->aiobotocore~=1.4.0->s3fs) (5.1.0)
Requirement already satisfied, skipping upgrade: async-timeout<4.0,>=3.0 in /var/www/.local/lib/python3.6/site-packages (from aiohttp>=3.3.1->aiobotocore~=1.4.0->s3fs) (3.0.1)
Requirement already satisfied, skipping upgrade: yarl<2.0,>=1.0 in /var/www/.local/lib/python3.6/site-packages (from aiohttp>=3.3.1->aiobotocore~=1.4.0->s3fs) (1.6.3)
Requirement already satisfied, skipping upgrade: attrs>=17.3.0 in /usr/local/lib/python3.6/dist-packages (from aiohttp>=3.3.1->aiobotocore~=1.4.0->s3fs) (19.3.0)
Requirement already satisfied, skipping upgrade: chardet<5.0,>=2.0 in /usr/local/lib/python3.6/dist-packages (from aiohttp>=3.3.1->aiobotocore~=1.4.0->s3fs) (3.0.4)
Requirement already satisfied, skipping upgrade: idna-ssl>=1.0; python_version < "3.7" in /var/www/.local/lib/python3.6/site-packages (from aiohttp>=3.3.1->aiobotocore~=1.4.0->s3fs) (1.1.0)
Requirement already satisfied, skipping upgrade: typing-extensions>=3.6.5 in /var/www/.local/lib/python3.6/site-packages (from aiohttp>=3.3.1->aiobotocore~=1.4.0->s3fs) (3.10.0.2)
Requirement already satisfied, skipping upgrade: idna>=2.0 in /usr/local/lib/python3.6/dist-packages (from yarl<2.0,>=1.0->aiohttp>=3.3.1->aiobotocore~=1.4.0->s3fs) (2.9)
ERROR: aiobotocore 1.4.1 has requirement botocore<1.20.107,>=1.20.106, but you'll have botocore 1.21.40 which is incompatible.
Installing collected packages: botocore, s3transfer, boto3
  Attempting uninstall: botocore
    Found existing installation: botocore 1.20.106
    Uninstalling botocore-1.20.106:
      Successfully uninstalled botocore-1.20.106
Successfully installed boto3-1.18.40 botocore-1.21.40 s3transfer-0.5.0
WARNING: You are using pip version 20.0.2; however, version 21.2.4 is available.
You should consider upgrading via the '/usr/bin/python3 -m pip install --upgrade pip' command.

In [1]:
import pandas as pd
import dask.dataframe as dd

%reload_ext autoreload
%autoreload 2

# Load

In [2]:
columns = ["account_id", "url", "city_code", "state_code", "dma_code", 
           "country_code","user_id", "session_id", "referrer", "client", 
           "user_agent_platform", "user_agent_language", "user_agent_browser",
           "zeta_user_id","geo_data","ip", "remote_addr"]
#columns = ["ip"]

file_path = f"s3://drose-sandbox/sizmek_zync_64m"

In [3]:
%%time

#dd_raw = dd.read_parquet(file_path, columns=columns).compute()
#dd_raw.compute().shape

CPU times: user 2 µs, sys: 1 µs, total: 3 µs
Wall time: 5.72 µs

In [4]:
%%time

df_raw = pd.read_parquet(file_path, columns=columns)
print(f"Shape: {df_raw.shape[0]:,} Memory: {df_raw.memory_usage(deep=True).sum()/1e9:.2f}GB")

Shape: 64,183,857 Memory: 91.26GB
CPU times: user 4min 17s, sys: 58.9 s, total: 5min 16s
Wall time: 3min 38s

In [5]:
#df2 = df_raw.copy()

# IP

In [6]:
%%time

def replace_ip(ips, thresh=1000):
    new_ips = ips.copy()
    value_counts = new_ips.value_counts().to_dict()
    mapping = new_ips.map(value_counts)
    new_ips[mapping < thresh] = "other"
    return new_ips

new_ips = replace_ip(df_raw["ip"])

CPU times: user 7.54 s, sys: 892 ms, total: 8.43 s
Wall time: 8.42 s

In [7]:
%%time

new_addrs = replace_ip(df_raw["remote_addr"])

CPU times: user 7.61 s, sys: 896 ms, total: 8.5 s
Wall time: 8.49 s

In [8]:
print(f"Sizmek ips: {new_ips.nunique()}")
print(f"Zync ips: {new_addrs.nunique()}")

Sizmek ips: 3834
Zync ips: 3598

# Geo

In [9]:
df_raw["geo_data"][0]

{'country': 'US',
 'subdivision': 'OR',
 'coordinates': {'latitude': 45.5397, 'longitude': -122.9638},
 'city': 'Hillsboro'}

In [19]:
%%time

geo_split = pd.DataFrame([i for i in df_raw["geo_data"].values])
#geo_split = df_raw["geo_data"].apply(pd.Series)
geo_split

CPU times: user 43 s, sys: 3.5 s, total: 46.5 s
Wall time: 46.4 s

,country,subdivision,coordinates,city
0,US,OR,"{'latitude': 45.5397, 'longitude': -122.9638}",Hillsboro
1,US,OR,"{'latitude': 45.5397, 'longitude': -122.9638}",Hillsboro
2,US,OR,"{'latitude': 45.5397, 'longitude': -122.9638}",Hillsboro
3,US,OR,"{'latitude': 45.5397, 'longitude': -122.9638}",Hillsboro
4,US,OR,"{'latitude': 45.5397, 'longitude': -122.9638}",Hillsboro
...,...,...,...,...
64183852,US,FL,"{'latitude': 27.4749, 'longitude': -82.6186}",Bradenton
64183853,US,FL,"{'latitude': 27.4749, 'longitude': -82.6186}",Bradenton
64183854,US,FL,"{'latitude': 27.4749, 'longitude': -82.6186}",Bradenton
64183855,US,FL,"{'latitude': 27.4749, 'longitude': -82.6186}",Bradenton
64183856,US,FL,"{'latitude': 27.4749, 'longitude': -82.6186}",Bradenton

### Coords

In [20]:
%%time

coords = pd.DataFrame([i for i in geo_split["coordinates"].values])

CPU times: user 35.5 s, sys: 1.98 s, total: 37.5 s
Wall time: 37.4 s

In [25]:
coords[:3]

   latitude  longitude
0   45.5397  -122.9638
1   45.5397  -122.9638
2   45.5397  -122.9638

### Countries

In [24]:
%%time

def replace_low_counts(data, thresh=1_000):
    new_data = data.copy()
    value_counts = new_data.value_counts().to_dict()
    mapping = new_data.map(value_counts)
    new_data[mapping < thresh] = "other"
    return new_data

new_countries = replace_low_counts(geo_split["country"])
new_countries.value_counts().shape

CPU times: user 15.8 s, sys: 697 ms, total: 16.5 s
Wall time: 16.5 s

(40,)

### Cities

In [29]:
%%time

print(geo_split["city"].value_counts().shape)
new_cities = replace_low_counts(geo_split["city"], 1_000)
print(new_cities.value_counts().shape)

(5384,)
(1840,)
CPU times: user 19.6 s, sys: 728 ms, total: 20.3 s
Wall time: 20.3 s

# Make new DF

In [ ]:
%%time

cols_to_keep = [
    "account_id", "url", "city_code", "state_code", "dma_code", 
    "country_code","user_id", "session_id", "referrer", "client", 
    "user_agent_platform", "user_agent_language", "user_agent_browser",
    "zeta_user_id",
]

df3 = df_raw[cols_to_keep]

In [33]:
%%time

df3["sizmek_ip"] = new_ips
df3["zync_ip"] = new_addrs
df3["zync_country"] = new_countries
df3["zync_state"] = geo_split["subdivision"]
df3["zync_city"] = new_cities
df3["zync_lat"] = coords["latitude"]
df3["zync_long"] = coords["longitude"]

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

CPU times: user 1.24 s, sys: 1.76 s, total: 3 s
Wall time: 3.11 s

In [36]:
#df3.head(1).T

# Filter Down

In [37]:
%%time

print(df3.shape)
df4 = df3.fillna("missing")
print(df4.shape)
df4 = df4.drop_duplicates()
print(df4.shape)
df4 = df4.reset_index(drop=True)
print(df4.shape)

(64183857, 21)
(64183857, 21)
(793073, 21)
(793073, 21)
CPU times: user 2min 52s, sys: 51 s, total: 3min 43s
Wall time: 3min 43s

In [47]:
%%time

print(df4.shape)
group_list = [e for e in (df4.columns) if e not in ("url", "referrer")]
df5 = df4.groupby(group_list)[["url", "referrer"]].agg(lambda x: list(x))
df5 = df5.reset_index()
print(df5.shape)
df5 = df5[df5["user_id"].duplicated(keep=False)]
print(df5.shape)

(793073, 21)
(44928, 21)
(30818, 21)
CPU times: user 3.38 s, sys: 0 ns, total: 3.38 s
Wall time: 3.38 s

# Export

In [48]:
%%time
df4.to_csv("s3://drose-sandbox/sizmek_zync_cleaned_793k.csv")

In [49]:
%%time
df5.to_csv("s3://drose-sandbox/sizmek_zync_cleaned_grouped_30k.csv")

CPU times: user 3.55 s, sys: 132 ms, total: 3.68 s
Wall time: 6.62 s